<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Création d&#39;un design étape par étape - Etape n°1 : Le code xhtml</title>
</head>

<body>
    <div id="conteneur">
        <h1 id="header"><a href="#" title="Colored Design - Accueil"><span>Colored Design</span></a></h1>
        <nav class="nav ">
            <ul id="menu">
                <li class="nav-item"><a href="admin">admin</a></li>
                <li class="nav-item"><a href="produit/">Application n°1 : Magasin</a></li>
                <li class="nav-item"><a href="fournisseur/">Application n°2 :fournisseur</a></li>
                <li class="nav-item"><a href="#">Application n°3</a></li>
            </ul>
        </nav>
        <div id="contenu">
            <h2>Un titre</h2>
            <p>Un paragraphe</p>
        </div>
        <p id="footer">Base de Page de Votre Site Web Django</p>
    </div>
</body>

</html>
